@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+HU:wght@100..400&display=swap");
@import "tailwindcss";

/*RESET n BASICS*/
:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --y: #4b3c78be;
  --s: #31807578;
  --p: #3a91aab0;

  --white: #fdf6f0;
  --lavender: #e4e0f1;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
html {
  font-size: 20px;
}
html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 250ms ease-in-out;
}
html,
body {
  overflow-x: hidden;
  color: var(--color-indigo-900);
}
a {
  color: inherit;
  text-decoration: none;
}
body,
#root {
  margin: 0 auto;

  min-width: 280px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.animate-bg {
  background-color: var(--p); /* fallback */
  background: linear-gradient(-45deg, var(--s), var(--y), var(--p), var(--y));
  background-size: 300% 300%;
  animation: gradientShift 15s ease infinite;
  -webkit-animation: gradientShift 15s ease infinite;
}
body.white-bg {
  background-color: var(--white);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-inter: "Inter", sans-serif;
  --font-hun: "Playwrite HU", cursive;
  --color-indigo-200: oklch(0.835 0.072 292.95);
  --color-indigo-400: oklch(0.678 0.106 292.95);
  --color-indigo-600: oklch(0.503 0.124 292.95);
  --color-indigo-800: oklch(0.402 0.099 292.95); /*figma #4B3C78*/
  --color-indigo-900: oklch(0.328 0.082 292.95);
  --color-indigo-950: oklch(0.208 0.065 292.95);
  --breakpoint-xs: 20rem;
  --breakpoint-s: 30rem;
}
/* Optional reset for forms/buttons */
@layer components {
  .flexCenterCol {
    @apply flex flex-col flex-wrap justify-center items-center;
  }
  .icon-basic {
    @apply w-10 h-10 fill-slate-600;
  }
  .main {
    @apply min-w-screen min-h-screen s:min-w-auto s:min-h-auto s:!p-8 s:!pt-4 gap-3 cursor-default rounded-2xl bg-white/10 backdrop-blur-md border border-white/20 shadow-lg;
  }
  .wrapper {
    @apply w-3/4 h-full cursor-default flex flex-col items-center justify-around !mx-auto text-center [&>*]:focus:outline-none [&>*]:text-indigo-800;
  }
  form.wrapper {
    @apply gap-3 w-full;
  }
  .err {
    @apply w-full !px-4 text-indigo-950/90 text-xs font-bold;
  }
  .contentBox { /*order content*/
    @apply flex flex-col md:flex-row !py-2 justify-between items-center gap-2 md:gap-0;
  }
  .logOut {
    @apply fixed z-10 top-0 s:top-2 lg:top-5 right-5 max-w-10 scale-75;
  }
  .profileForm {
    @apply flex justify-center w-screen s:w-full [&>input]:text-start [&>input]:max-w-50 s:[&>input]:max-w-none [&>input]:border-1 [&>input]:border-indigo-800;
  }
}

/*COMPONENTS (actionBtn, gridLoader)*/

/* actionBtn */
.actionBtn {
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.actionBtn::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -15px;
  bottom: -25px;
  right: -15px;
  background: inherit;
  border-radius: 10%;
  z-index: -1;
  opacity: 0.2;

  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.actionBtn:hover {
  -webkit-transition: background-color 0.1s, color 0.1s;
  transition: background-color 0.1s, color 0.1s;
}
.actionBtn:hover::before {
  -webkit-animation: actionAnimOp 0.3s 0.3s forwards;
  animation: actionAnimOp 0.3s 0.3s forwards;
}
@keyframes actionAnimOp {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* gridLoader */
.grid-minimal {
  width: 40px;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px;
}

.grid-cell {
  background: #e8e8e8;
  animation: grid-fill 2s ease-in-out infinite;
}

.grid-cell:nth-child(1) {
  animation-delay: 0s;
}
.grid-cell:nth-child(2) {
  animation-delay: 0.1s;
}
.grid-cell:nth-child(3) {
  animation-delay: 0.2s;
}
.grid-cell:nth-child(4) {
  animation-delay: 0.3s;
}
.grid-cell:nth-child(5) {
  animation-delay: 0.4s;
}
.grid-cell:nth-child(6) {
  animation-delay: 0.5s;
}
.grid-cell:nth-child(7) {
  animation-delay: 0.6s;
}
.grid-cell:nth-child(8) {
  animation-delay: 0.7s;
}
.grid-cell:nth-child(9) {
  animation-delay: 0.8s;
}
.grid-cell:nth-child(10) {
  animation-delay: 0.9s;
}
.grid-cell:nth-child(11) {
  animation-delay: 1s;
}
.grid-cell:nth-child(12) {
  animation-delay: 1.1s;
}
.grid-cell:nth-child(13) {
  animation-delay: 1.2s;
}
.grid-cell:nth-child(14) {
  animation-delay: 1.3s;
}
.grid-cell:nth-child(15) {
  animation-delay: 1.4s;
}
.grid-cell:nth-child(16) {
  animation-delay: 1.5s;
}

@keyframes grid-fill {
  0%,
  100% {
    background: #e8e8e8;
  }
  50% {
    background: #1a1a1a;
  }
}
